@charset "UTF-8";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background: black url(imagens/binario.jpg) center center no-repeat fixed;
    background-size: cover;
}

main {
    background-color: white;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    
}

img {
    display: flex; 
    justify-content: center;
    width: 70%;
}

h1#t1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 70, 0);
    text-align: center;
    font-size: 4em;
    margin: 0px;
}

h1#t2 {
    background-color: #0dad0dbe;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
}

p {
    text-indent: 20px;
}

aside {
    background-image: linear-gradient(#00ff00b7, #00aa00b7, #008000b7);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.300);
    margin: 0px;
}

aside h1 {
    background-color: rgb(0, 224, 0);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside;
    columns: 1;
}
